{# Extends matrix variables #}
{% extends '_components/_matrix/global-matrix-variables.twig' %}

{# Matrix content #}
{% block matrixContent %}
	{% if block.oembed.valid %}
		<div class="section section-video">
			<div class="grid grid-flow-col">
				<div class="iframe-wrapper w-full">
					{{ block.oembed.render({
						attributes: {
							class: 'iframe w-full'
						}
					}) }}
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}