{# -- Summary template -- #}

{#
	Set entity value when you include it like :
	{% include '_components/summary.twig' with {'entity': entry} %}
#}

<div class="text text--summary">{{ entity.summary }}</div>
